:root {
    --background-color:#DCF2F1;
    --table-color:#7FC7D9;
    --action-color:#365486;
    --primary-color:#0F1035;
}
li{
    text-decoration: none;
    list-style-type: none;
}
body,
html{
    background-color: var(--background-color) ;
    color: var(--primary-color);
    font-family: sans-serif, Helvetica, Arial;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.title{
    display: flex;
    flex-direction: column;
    align-items: center;
}
ul{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
    align-items: center;
    padding: 0;
}
li{
    margin: 10px;
    font-size: 1.5em;
    font-weight: 550;
}
.title button{
    background-color: var(--action-color);
    color: var(--background-color);
    height: 45px;
    width: 165px;
    font-weight: 700;
    font-size: 1.3em;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border: none;
    margin: 25px;
}
.title button:hover {
    background-color: #264d80; 
}
.game-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin: 25px;
}
.game-container button{
    background-color: var(--table-color);
    height: 150px;
    width: 150px;
    box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.2);
    font-size: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.game-container button:hover {
    background-color: #5b9ed8;
}
